<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- 
      For localhost, we have to store those settings in web.config instead of a service config.
      This is because we cannot run our front end app in an emulator due to long paths created by gulp.
      For cloud builds, we can have the settings stored in various service configurations.
    -->
    <add key="AADLoginUrl" value="https://login.microsoftonline.com/" />
    <add key="AADTenant" value="microsoft.onmicrosoft.com" />
    <add key="FacilityPlannerAADClientId" value="dc755166-c72f-4ea6-91ec-fa1bd947fd11" />
    <add key="FacilityPlannerAADAppKey" value="" />
    <add key="FacilityPlannerWebApiUrl" value="http://localhost:5349" />
    <add key="KeyvaultAddress" value="https://ReservationTestVault.vault.azure.net/" />
    <add key="KeyvaultAuthClientId" value="92998173-3554-4599-945e-687d423821f5" />
    <add key="KeyvaultAuthCertThumbprint" value="269320D3641978E4CBAADDFEF549CC4C975531EB" />
    <add key="KeyVaultAADAppKey" value="MCIO-CapacityReservationPlannerLocalHost-AADKey" />
    <add key="MDM.MonitoringAccount" value="MCIOTest" />
    <add key="MDM.Namespace" value="MCIOTestFacilityPlanner"/>
    <add key="CMATenantName" value="MCIO"/>
    <add key="CMA.MonitoringConfig" value="Monitoring\MAConfigTest.xml"/>
    <add key="DomainName" value="test"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
